# ===============================
# Maven
# ===============================
target/
!.mvn/wrapper/maven-wrapper.jar

# ===============================
# STS / Eclipse
# ===============================
.classpath
.project
.settings/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment Files
# ===============================
.env
.env.local
.env.*.local

# ===============================
# Uploads
# ===============================
uploads/

# ===============================
# Build
# ===============================
build/

# ===============================
# Node
# ===============================
node_modules/